.Card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;


}
img {
width: 80%;
height: auto;
}

input {
  margin-left: 20px;
}